# Exemple d'inventaire pour le lab Bitwarden HA
# Adapter les IP, utilisateurs SSH et variables avant exécution.

[bitwarden_nodes]
bw-primary ansible_host=10.30.0.11 ansible_user=ops compose_template=bitwarden-primary-docker-compose.yml bw_domain=https://bitwarden.lab.local bw_db_server=bw-sql-listener bw_db_port=1433 bw_db_name=vault bw_db_user=SDIS28 bw_db_password='ChangeMe+2026!' bw_installation_id=67f9d478-4c54-412e-b0df-b3ed00e9a434 bw_installation_key=RkwcvPRzOzpF5MnLLnSP
bw-secondary ansible_host=10.30.0.12 ansible_user=ops compose_template=bitwarden-secondary-docker-compose.yml bw_domain=https://bitwarden.lab.local bw_db_server=bw-sql-listener bw_db_port=1433 bw_db_name=vault bw_db_user=SDIS28 bw_db_password='ChangeMe+2026!' bw_installation_id=Y67f9d478-4c54-412e-b0df-b3ed00e9a434 bw_installation_key=RkwcvPRzOzpF5MnLLnSP
bw-relay ansible_host=10.30.0.13 ansible_user=ops compose_template=bitwarden-relay-docker-compose.yml bw_domain=https://bitwarden.lab.local bw_db_server=bw-sql-listener bw_db_port=1433 bw_db_name=vault bw_db_user=SDIS28 bw_db_password='ChangeMe+2026!' bw_installation_id=67f9d478-4c54-412e-b0df-b3ed00e9a434 bw_installation_key=RkwcvPRzOzpF5MnLLnSP

[mssql_nodes]
mssql-primary ansible_host=10.30.0.21 ansible_user=ops vault_mssql_sa_password='ChangeMe+2026!'
mssql-secondary ansible_host=10.30.0.22 ansible_user=ops vault_mssql_sa_password='ChangeMe+2026!'
mssql-relay ansible_host=10.30.0.23 ansible_user=ops vault_mssql_sa_password='ChangeMe+2026!'

[mssql_primary]
mssql-primary

[reverse_proxy]
proxy-01 ansible_host=10.30.0.10 ansible_user=ops bitwarden_public_fqdn=bitwarden.lab.local
